<ion-content>
	<div class="bar bar-header bar-positive">
 	 	<h1 class="title"></h1>
 	 	<a ui-sref="acceso" class="button button-icon icon icon-left ion-chevron-left">Back</a>
  		<div class="h1 title"></div>
	</div>
	<br><br> <br>
	<div><h1 class="text-center"><img ng-src="{{articulo.cover}}" alt="{{articulo.title}}"></h1></div>
	<div class="col-md-4" style="padding-right: 10dp">
	<h1 class="text-center">{{articulo.title}}</h1>
	<p class="text-center"><strong>Autor:</strong>  {{articulo.author}}</p>
	<p class="text-center"><strong>Año:</strong>  {{articulo.year}}</p>
	<p class="text-center"><strong>ISBN:</strong>  {{articulo.isbn}}</p>
	<p class="text-center"><strong>Editorial:</strong>  {{articulo.editorial}}</p>
	</div>
</ion-content>